body {
  font-family: Arial, sans-serif;
}

.MuiDrawer-paper {
  width: 240px;
}

.MuiContainer-root {
  margin-left: 260px;
  padding-top: 20px;
}

.MuiTableContainer-root {
  margin-top: 20px;
}

.MuiTypography-h4 {
  font-weight: bold;
}
